.card {
  img{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }
  p.author{
    font-size: 12px;
    font-style: italic;
    font-family: cursive;
    margin-bottom: 0.75rem;
  }
}
