.video-container{
  position: relative;
  .button-inner{
    position: absolute;
    bottom: 20px;
    /* right: 16px; */
    left: 5px;
    text-align: center;
    //.stock-play-btn{
    //background-image: url('../../assets/img/youtubeButton.jpg');
    //}
  }
}


.button-inner{
  position: absolute;
  bottom: 20px;
  /* right: 16px; */
  left: 5px;
  text-align: center;
  //.stock-play-btn{
  //background-image: url('../../assets/img/youtubeButton.jpg');
  //}
}

